*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  color: #101D23;
}

h3 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #101D23;
}

.header-container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  padding: 15px 50px;
  gap: 183px;
}

.links__list {
  display: flex;
  font-size: 12px;
  gap: 40px;
  padding: 15px 0;
}

.links__list-li {
  display: flex;
  gap: 13px;
}

.links__list-li > .submit-aplication {
  text-transform: uppercase;
  color: #E93D07;
}

.header__top-social {
  display: flex;
  align-items: center;
  gap: 19px;
}


.header__bottom {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  gap: 230px;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: 12px;
  gap: 50px;
}

.nav__list-link {
  transition: color, .2s ease-in-out;
}

.nav__list-link:hover{
  color: #E93D07;
}

.search-button {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.search-button::before {
  content: '';
  height: 27px;
  background-color: #101D23;
  width: 1px;
}

.main {
  margin-top: 30px;
}

.info__wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.info__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.aside__top,
.aside__bottom {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 220px;
  background-image: url('../img/aside_one.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.aside__inner{
  margin-top: auto;
}

.aside-link {
  padding: 4px 8px;
  background: #F3F6F8;
  border-radius: 25px;
  font-size: 8px;
  font-family: 'Montserrat-SemiBold';
}

.aside__top-link {
  background-color: #fff;
}

.aside-text {
  color: #fff;
  font-family: 'Montserrat-Regular';
  margin-top: 10px;
}

.aside__bottom{
  background-image: url('../img/aside_two.jpg');
}

.aside__bottom-link{
  background-color: #E93D07;
  color: #fff;
}

.info__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 54px 48px 56px;
  margin-top: auto;
}


.info__slide-content {
  display: flex;
  flex-direction: column;
  max-width: 346px;
  gap: 28px;
  margin-top: 222px;
}



.info__slide-title {
  font-size: 36px;
  font-weight: 500;
}

.info__slide-text {
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.slider-btns {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 21px;
  height: 18px;
}

.swiper-button-prev,
.swiper-button-next {
  background: #E93D07;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #E93D07;
  transition: background-color, .1s ease-in-out;
}

.arrow {
  transition: fill, .2s ease-in-out;
}

.swiper-button-next:after, 
.swiper-button-prev:after{
  content: none;
}

.arrow-button-info-right,
.arrow-button-info-left{
  position: static;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #F38562;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: #fff;
}

.arrow-button-info-right:active .arrow,
.arrow-button-info-left:active .arrow {
  fill: #E93D07;
}

.description {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.description__item {
  display: flex;
  cursor: pointer;
  gap: 30px;
}
.description-text-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  max-width: 197px;
}
.description-text{
  font-family: 'Montserrat-Regular';
  color: #8E8F9B;
}
.description-span {
  color: #101D23;
  transition: color, .2s ease-in-out;
}

.descr-svg {
  transition: fill, .2s ease-in-out;
}

.description__item:hover .descr-svg {
  fill: #E93D07;
}
.description__item:hover .description-span{
  color: #E93D07;
}

.print {
  margin: 100px 0 120px;
}

.print__title {
  font-size: 30px;
  margin-bottom: 30px;
  max-width: 548px;
}

.print__buttons {
  margin-bottom: 69px;
}

.buttons {
  display: flex;
  gap: 19px;
  text-transform: uppercase;
  text-align: center;
}

.button-fill {
  font-family: 'Montserrat-SemiBold';
  cursor: pointer;
  font-size: 9px;
  background: #E93D07;
  color: #fff;
  border-radius: 25px;
  border: 1px solid #E93D07;
  padding: 10px 38px 10px 37px;
  transition: background-color, .1s ease-in-out;
}

.button-void {
  font-family: 'Montserrat-SemiBold';
  cursor: pointer;
  font-size: 9px;
  background: #fff;
  color: #E93D07;
  border-radius: 25px;
  border: 1px solid #E93D07;
  padding: 10px 38px 10px 37px;
  transition: background-color, .1s ease-in-out;
}

.button-fill:hover {
  background: #F38562;
  color: #fff;
}

.button-fill:active {
  background: #fff;
  color: #E93D07;
}

.button-void:hover {
  border: 1px solid #F38562;
  color: #F38562;
}

.button-void:active {
  background-color: #E93D07;
  border: 1px solid #E93D07;
  color: #fff;
}

.print__wrapper {
  position: relative;
}

.print-info{
  
  top: 0;
  left: 0;
}

#map {
  position: relative;
  margin-left: auto;
}

.map-slider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Montserrat-SemiBold';
  max-width: 322px;
  font-size: 12px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 32px 35px 31px 39px;
}
.map-slider__title {
  color: #E93D07;
}
.map-slider__text {
  color: #8E8F9B;
}

.map-slider__link {
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 25px;
  gap: 11px;
  background-color: #E93D07;
  padding: 12px 30px 9px 30px;
}

.map-slider__link a {
  color: #fff;
}

.map-slider__icon {

}


.about {
  background-color: #F3F6F8;
  padding: 70px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  
}
.about__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 304px;
}

.about-text {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 793px;
}
.about__cards-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 21px 11px 17px 20px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  gap: 48px;
  transition: background-color, border, .2s ease-in-out;
}

.about__cards-item:hover p {
  transition: color, .2s ease-in-out;
}

.about__cards-item:hover .svg-card {
  transition: fill, .2s ease-in-out;
}

.about__cards-item:hover {
  border: 1px solid #E93D07;
  background-color: #E93D07;
}

.about__cards-item:hover p {
  color: #fff;
}

.about__cards-item:hover .svg-card{
  fill: #fff;
}

.card-text {
  color: #101D23;
  font-size: 14px;
}

.ppt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ppt__text {
  background-color: #101D23;
  padding: 34px 153px 34px 62px;
}
.ppt__text-item {
  font-size: 30px;
  max-width: 446px;
  color: #fff;
}
.ppt__files {
  display: flex;
  justify-content: space-evenly;
  padding: 44px 93px 44px 81px;
  background-color: #E93D07;
}
.ppt__files-item {
  display: flex;
  gap: 23px;
  
}

.ppt__files-descr {
  max-width: 138px;
  color: #fff;
  transition: color, .2s ease-in-out;
}

.ppt__files-item:hover .ppt__files-descr {
  color: #101D23;
}
